body {
    background-color: #ffffff;
    font-family: "Times New Roman", sans-serif;
    font-size: 16px;
}

.audio-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
