---
import Layout from "@/layouts/Layout.astro"
import "@/styles/global.css";
---

<Layout title="Dhanvith Nayak">
  <div id="hero-section">
    <div class="name-images">
      <img src="/name/Dhanvith.png" alt="Dhanvith" />
      <img src="/name/Nayak.png" alt="Nayak" />
    </div>

    <img src="/gifs/starship_rot.gif" alt="Starship" class="gif-overlay" style="top: 12%; left: 7%;" />
    <img src="/gifs/eclipse.gif" alt="Eclipse" class="gif-overlay" style="top: 36%; left: 77%;" />
  </div>
</Layout>
