---
import Layout from "@/layouts/Layout.astro"
import "@/styles/global.css";
---

<Layout title="Dhanvith Nayak">
  <div class="name-images">
    <img src="/name/Dhanvith.png" alt="Dhanvith" />
    <img src="/name/Nayak.png" alt="Nayak" style="max-width: 12vw" />
  </div>
</Layout>
