---
---

<table width="100%" border="0" cellpadding="8" cellspacing="0" bgcolor="#e0e0e0" style="border-bottom: 2px solid #808080;">
  <tr>
    <td align="left" valign="middle">
      <h1 style="margin: 0; font-family: Helvetica, sans-serif; font-size: 24px;">
        My Personal Homepage
      </h1>
    </td>

    <td align="right" valign="middle">
      <b style="font-family: Verdana, sans-serif; font-size: 14px;">
        [ <a href="/">Home</a> ] &nbsp;&nbsp;
        [ <a href="/about">About Me</a> ] &nbsp;&nbsp;
        [ <a href="/links">Webring</a> ] &nbsp;&nbsp;
        [ <a href="/guestbook">Guestbook</a> ]
      </b>
    </td>
  </tr>
</table>
