---
---

<table width="100%" border="0">
  <tr>
    <td align="left" valign="middle">
      <h1 style="margin: 0; font-size: 25px;">
        Dhanvith Nayak
      </h1>
    </td>

    <td align="right" valign="middle">
      <a href="/">Home</a>&nbsp; |&nbsp;
      <a href="/about">About Me</a>&nbsp; |&nbsp;
      <a href="/contact">Contact</a>&nbsp; |&nbsp;
      <a href="/blog">Blog</a>&nbsp; |&nbsp;
      <a href="/resume">Resume</a>&nbsp;&nbsp;

    </td>
  </tr>
</table>
